body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.wrapper{
    padding: 0 30px;
}
.grid {
    display: grid;
    grid-row-gap: 25px;
}
.card {
    border-radius: 5px;
    overflow: hidden;
    background: #f0f3fa;
    text-align: center ;    
}

.card-title{
    font-weight: bold;
    /* border: 1px solid red;  */
    font-size: 24px;
    font-weight: 700;
}

.card-dias{
    /* border: 1px solid purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6f717e;
    font-size: 1em;
    
}

.card-hora {
    /* border: 1px solid green; */
    color: black;
    margin-top:1px;
    font-size: .7em;
    font-weight: bold;
} 

@media screen and (min-width: 480px){
    body {
        border: 1px solid red;
    }
    .grid {
        border: 1px solid purple; 
        grid-template-columns: 1fr;
        grid-column-gap: 25px;
    }
    .wrapper {
        max-width: 1440px;
        margin: auto;
    }
}

@media screen and (min-width: 768px){
    body {
        border: 1px solid yellow;
    }
    .grid {
        /* border: 1px solid purple; */
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 1024px){
    body {
        border: 1px solid blue;
    }
    .grid {
        /* border: 1px solid purple; */
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}